<section class="max__container">
  <div class="page__hero">
    <p>Descubre <span>Sevilla</span></p>
  </div>
</section>
<section class="max__container page__container activities">
  <h1>{{ activity.value()?.title }}</h1>
  <div class="activity__layout">
    <div class="activity__content">
      @if (activity.isLoading()) {
        <p>Cargando...</p>
      } @else if (activity.error()) {
        <p>Error: {{ activity.error() }}</p>
      } @else if (activity.value(); as a) {
        <p>{{ a.longDescription }}</p>
      } @else {
        <p>No encontrada</p>
      }
    </div>

    @if (activity.value(); as a) {
      <aside class="activity__aside">
        <button type="button" value="">Reserva ahora</button>
        <div class="activity_main-info">
          <div>
            <span>Precio</span>
            @if (a.isFree) {
              <span>Gratis</span>
            } @else {
              <span>{{ a.price }}<span>&euro;</span></span>
            }
          </div>
          <div>
            <span>Duración</span>
            <span>{{ a.duration }}<span>min</span></span>
          </div>
        </div>

        <ul>
          <li>
            <span>Tipo</span> <span>{{ a.type }}</span>
          </li>
          <li>
            <span>Zona</span> <span>{{ a.location?.district }}</span>
          </li>
          <li>
            <span>Rating</span> <span>{{ a.rating }} / 5</span>
          </li>
        </ul>
      </aside>
    }
  </div>
</section>
