nav {
  display: flex;
  justify-content: end;

  ul {
    display: flex;
    list-style: none;

    li {
      font-weight: 700;
      margin: 0.75rem 0.5rem;
      font-size: 0.85rem;

      a {
        border: 1px solid var(--primary);
        border-radius: 2rem;
        color: var(--neutral-white);
        display: inline-block;
        text-decoration: none;
        padding: 0.4rem 0.75rem;
        transition: all 0.2s ease-in;

        &:hover,
        &:active {
          color: var(--neutral-white);
        }

        &.active {
          border: 1px solid var(--neutral-white);
          // background-color: rgb(58, 51, 51, 0.15);
          color: var(--neutral-white);
        }
      }

      &:hover a {
        border: 1px solid var(--neutral-white);
      }
    }
  }
}
