<header>
  <div class="max__container">
    <nav aria-label="navegación principal">
      <ul>
        <li>
          <a
            routerLink="home"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="activities"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Activities R</a
          >
        </li>
        <li>
          <a routerLink="activities-s" [routerLinkActive]="['active']">Activities S</a>
        </li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
