@use '../../../styles/mixins' as *;

.activities {
  margin-bottom: 3rem;

  &__search {
    display: block;
    margin-bottom: 1.5rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  @include media(sm) {
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1.5rem;
    }
  }

  @include media(md) {
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1.5rem;
    }
  }
}
