<div class="form__container">
  <form [formGroup]="form">
    <div>
      <label for="search-text">Buscar</label>
      <input
        type="search"
        id="search-text"
        formControlName="text"
        placeholder="Busca actividades por texto"
      />
    </div>
    <div>
      <label for="search-type">Tipo </label>
      <div class="select__wrapper">
        <select id="search-type" formControlName="type">
          <option value="" selected>Todos los tipos</option>
          @for (op of options; track $index) {
            <option [value]="op.key">{{ op.value }}</option>
          } @empty {
            <p>Vaya!, no hay actividades disponibles</p>
          }
        </select>
      </div>
    </div>
    <div>
      <label for="search-price">Precio </label>
      <input
        type="number"
        id="search-price"
        formControlName="price"
        placeholder="Precio en euros"
        min="0"
      />
    </div>
    <!-- <div>
        <label for="search-duration" class="sr-only">Duración: </label>
        <input
        type="number"
        id="search-duration"
        formControlName="duration"
        min="30"
        max="360"
        step="15"
        placeholder="duración"
        />
    </div> -->
  </form>
</div>
